%li
  %g:link(mapping='recruiterDeals')
    %g:message(code="recruiter.menu.deals")
%li
  %g:link(mapping='recruiterBids')
    %g:message(code="recruiter.menu.bids")
%li
  %a(href="#")
    %g:message(code="recruiter.menu.vacancySearch")
%li
  %g:link(mapping='logout')
    %g:message(code="recruiter.menu.logout")
