%li
  %g:link(mapping='employerVacancies')
    %g:message(code="employer.menu.vacancies")
%li
  %g:link(mapping='employerDeals')
    %g:message(code="employer.menu.deals")
%li
  %g:link(mapping='logout')
    %g:message(code="employer.menu.logout")
