!!! 5
%html
  %head
    %title Рекрутеры | Логин
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %r:require( module="css" )
    %g:javascript(src="lib/bootstrap.js")
    %g:layoutHead/
    %r:layoutResources/
  %body
    .navbar.navbar-inverse(role="navigation")
      .container
        .navbar-header
          %a.navbar-brand(href="#") Имя проекта
    %g:layoutBody/
