!!! 5
%html
  %head
    %title
      %g:layoutTitle(default="Рекрутеры рулят")
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %script(src="http://code.jquery.com/jquery-2.0.3.js")
    %r:require( module="css" )
    %g:javascript(src="lib/bootstrap.js")
    %g:javascript(src="lib/bootstrap-confirmation.js")
    %g:javascript(src="confirmation.js")
    %g:layoutHead/
    %r:layoutResources/
  %body
    .navbar.navbar-default(role="navigation")
      .container
        .navbar-header
          %a.navbar-brand(href="#") Имя проекта
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %sec:ifAllGranted(roles="ROLE_RECRUITER")
              %g:render(template="/layouts/recruiter_menu")
            %sec:ifAllGranted(roles="ROLE_EMPLOYER")
              %g:render(template="/layouts/employer_menu")
    %g:layoutBody/
