.container
  %h1
    %g:message(code="recruiter.menu.deals")
  %table.table.table-striped
    %thead
      %tr
        %th
          %g:message(code="recruiter.dealList.vacancyName")
        %th
          %g:message(code="recruiter.dealList.vacancyDescription")
        %th
          %g:message(code="recruiter.dealList.dealStatus")
        %th
          %g:message(code="recruiter.dealList.vacancyCreatedAt")
        %th
    %tbody
      %g:each(in="${deals}")
        %tr
          %td ${it.vacancy.title}
          %td ${it.vacancy.description}
          %td In progress
          %td ${it.vacancy.createdAt}
          %td
            %g:link(mapping='showRecruiterDeal' params='[id: "${it.id}"]' class="btn btn-link")
              %g:message(code="recruiter.dealList.more")
