.container
  %h1
    %g:message(code="recruiter.dealShow.headline")
  .row
    .col-md-8
      %h2
      %dl.dl-horizontal
        %dt
          %g:message(code="recruiter.dealShow.vacancyName")
        %dd Программист
        %dt
          %g:message(code="recruiter.dealShow.vacancyDescription")
        %dd PHP guru
        %dt
          %g:message(code="recruiter.dealShow.vacancySalary")
        %dd 10 - 20
        %dt
          %g:message(code="recruiter.dealShow.vacancyCreatedAt")
        %dd 10.12.2013
        %dt
          %g:message(code="recruiter.dealShow.vacancyExpireAt")
        %dd 09.09.2014
    .col-md-4
      %h2
        %g:message(code="recruiter.dealShow.employer")
      %p Иванов Василий Палыч
  %h2
    %g:message(code="recruiter.dealShow.applicantList.title")

  %table.table.table-striped
    %thead
      %tr
        %th
          %g:message(code="recruiter.dealShow.applicantList.firstName")
        %th
          %g:message(code="recruiter.dealShow.applicantList.lastName")
        %th
          %g:message(code="recruiter.dealShow.applicantList.status")
        %th
          %g:message(code="recruiter.dealShow.applicantList.createdAt")
        %th
          %g:message(code="recruiter.dealShow.applicantList.action")
    %tbody
      %tr
        %td Иван
        %td Иванов
        %td In progress
        %td 09.09.2014
        %td
          %a.btn.btn-link.pull-right(href="#")
            %g:message(code="recruiter.dealShow.applicantList.edit")
      %tr
        %td Константин
        %td Константинопольский
        %td In progress
        %td 09.09.2014
        %td
      %tr
        %td Пётр
        %td Петров
        %td In progress
        %td 09.09.2014
        %td
          %a.btn.btn-link.pull-right(href="#")
            %g:message(code="recruiter.dealShow.applicantList.edit")
  %a.btn.btn-success(href="#")
    %g:message(code="recruiter.dealShow.applicantList.new")