.container
  %h1 Просмотр вакансии
  %dl.dl-horizontal
    %dt Наименование
    %dd Лесоруб
    %dt Описание
    %dd Уметь клёво рубить сосны
    %dt Диапазон з/п
    %dd 15-20
    %dt Дата создания
    %dd 27.12.2013
    %dt Дата окончания
    %dd 27.12.2014
  %input.form-control.js-message-for-bid(name="message" placeholder="текст" type="text")
  %a.btn.btn-primary(data-href="#" data-original-title="" data-placement="left" data-toggle="confirmation" title="") Предложить свои услуги
