.container
  %h1
    %g:message(code="recruiter.vacancyShow.headline")
  %dl.dl-horizontal
    %dt
      %g:message(code="recruiter.vacancyShow.name")
    %dd Лесоруб
    %dt
      %g:message(code="recruiter.vacancyShow.description")
    %dd Уметь клёво рубить сосны
    %dt
      %g:message(code="recruiter.vacancyShow.salary")
    %dd 15-20
    %dt
      %g:message(code="recruiter.vacancyShow.createdAt")
    %dd 27.12.2013
    %dt
      %g:message(code="recruiter.vacancyShow.expireAt")
    %dd 27.12.2014
  .row
    .col-md-6
      %textarea.form-control.js-message-for-bid(name="message" placeholder="${message(code:'recruiter.vacancyShow.conditions')}" rows="4")
  .btn-row
    %a.btn.btn-primary(data-href="#" data-original-title="" data-placement="left" data-toggle="confirmation" title="")
      %g:message(code="recruiter.vacancyShow.apply")