.container
  .h1
    %g:message(code="employer.vacancyBidList.headline")
  .row
    .col-md-8
      %h2
      %ul.list-group
        %li.list-group-item
          Вася Пупкин
          %g:link(mapping='employerShowRecruiter' params="[id: '1']" class="btn btn-link pull-right")
            %g:message(code="employer.vacancyBidList.more")
        %li.list-group-item
          Вася Пупкин
          %g:link(mapping='employerShowRecruiter' params="[id: '1']" class="btn btn-link pull-right")
            %g:message(code="employer.vacancyBidList.more")
        %li.list-group-item
          Вася Пупкин
          %g:link(mapping='employerShowRecruiter' params="[id: '1']" class="btn btn-link pull-right")
            %g:message(code="employer.vacancyBidList.more")
    .col-md-4
      %h2
        %g:message(code="employer.vacancyBidList.vacancy")
      %p Программист
      %p PHP guru
      %p
