.container
  %h2 Создание кандидата
  %form(action="" enctype="multipartform-data" method="post" name="applicantForm")
    .row
      .col-md-6
        .form-group
          %label(for="firstName")
          %input#firstName.form-control(name="firstName" placeholder="Имя" type="text")
        .form-group
          %label(for="lastName")
          %input#lastName.form-control(name="lastName" placeholder="Фамилия" type="text")
        .form-group
          %label(for="description")
          %textarea#description.form-control(name="description" placeholder="Описание")
        .form-group
          %label(for="resumeFile") Прикрепить резюме
          %input#resumeFile(name="resumeFile" placeholder="Прикрепить резюме" type="file")
        .form-group
          %label(for="testAnswerFile") Ответы на тест
          %input#testAnswerFile(name="testAnswerFile" placeholder="Ответы на тест" type="file")
        .form-group
          %input#dealId(name="dealId" type="hidden" value="1")
          %input#id(name="id" type="hidden" value="0")
        %input.btn.btn-success(name="submit" type="submit" value="Добавить")
        %a.btn.btn-link(href="#")
        %a(href="#") К описанию вакансии