.container
  %h1 Заявки от рекрутеров
  %h2 Программист
  %g:link(mapping='employerVacancyBids' params="[id: '1']" class="btn btn-link")
    Подано заявок (3)
  %h2 Лесоруб
  %g:link(mapping='employerVacancyBids' params="[id: '1']" class="btn btn-link")
    Подано заявок (2)
  %h2 Сантехник
  %g:link(mapping='employerVacancyBids' params="[id: '1']" class="btn btn-link")
    Подано заявок (0)