.container
  %h1
    %g:message(code="employer.myVacancies.headline")
  %ol
    %li
      %g:link(mapping='employerVacancyBids' params="[id: '1']" class="btn btn-link.black")
        Программист  (3)
    %li
      %g:link(mapping='employerVacancyBids' params="[id: '1']" class="btn btn-link.black")
        Лесоруб  (2)
    %li
      %g:link(mapping='employerVacancyBids' params="[id: '1']" class="btn btn-link.black")
        Сантехник  (0)
