.container
  %h1 Заявки от рекрутеров
  %h2 Программист
  %a.btn.btn-link(href="#") Подано заявок (3)
  %h2 Лесоруб
  %a.btn.btn-link(href="#") Подано заявок (2)
  %h2 Сантехник
  %a.btn.btn-link(href="#") Подано заявок (0)